@charset "UTF-8";
*{margin:0;padding:0;box-sizing: border-box}
ul,ol{list-style:none}
a{text-decoration:none;color:inherit}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/kopus/KoPubWorldBatang.css');
@import url('https://webfontworld.github.io/kopus/KoPubWorldDotum.css');
/* font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto', sans-serif;
font-family: 'KoPubWorldDotum';
font-family: 'KoPubWorldBatang'; */
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    color: #fff;
    background: url("../img/loct_bg.jpg") no-repeat left top;
}
.bg img{
    width: 100%;
    height: 4500px;
}
.container{
    width: 100%;
    position: absolute;
}
header{
    position: fixed;
    left:0;
    top:0;
    z-index: 1;
    width: 100%;
}
header .gnb_wrap{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #fcbb01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 40px;
    background: url("../img/header_bg.jpg");
}
header .header_bg{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
header .logo img{
    width: 240px;
    margin: 0 auto;
    cursor: pointer;
}
/* 왼쪽 gnb */
header nav .gnb_bar{
    width: 40px; 
    height: 1px;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    cursor: pointer;
}
/* gnb */
header .gnb_menu_wrap{
    position: absolute;
    width: 500px;
    height: 100vmin;
    /* height: 50px; */
    background: rgba(255,255,255,.4);
    top: 0;
    left: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s;
    padding: 30px;
    color: #00102b;
    backdrop-filter: blur(30px);
    opacity: 0;
    z-index: 2;
}

header .gnb_menu1{
    font: 700 70px/1.2 'Cormorant Garamond', serif;
}
header .gnb_menu1 li > a{
    position: relative;
}
header .gnb_menu1 li > a:after{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #00102b;  
    transform: scaleX(0);
    transition: 0.5s ease-in;
    transform-origin:0% 100%;
}
header .gnb_menu1 li a:hover:after{
    transform: scaleX(1); 
}
header .gnb_menu2{
    font: 600 30px/1 'KoPubWorldDotum';
}
header .gnb_menu2 p:nth-of-type(2){
    font: 500 14px/1 'KoPubWorldDotum'; 
}
.gnb_btn{
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 27px;
    transition:all 0.5s;
}
/* header.on 사이드 gnb */
header .gnb{display:none;}
header.on .gnb{display:block;}

header.on .gnb_menu_wrap.on{
    opacity: 1;
    transition:all 1s
}

header.on .gnb_btn{
    opacity: 0;
    z-index: 1;
}
header .gnb_menu_wrap .gnb_close{
    cursor: pointer;
    display: inline;
    align-self: flex-end;
}

/* 오른쪽 gnb */
header .side_link{
    display: flex;
}
header .side_link .search{
    display: flex;
}
header .side_link input{
    width: 140px;
    height: 20px;
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
    border-bottom: 1px solid #fcbb01;
    color: #fff;
    padding-left: 5px;
}
header .side_link .search_icon img,
header .side_link .login_icon img{
    width: 75%;
    cursor: pointer;
}
header .side_link .search_icon{
    margin-left: 10px;
}
header .logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login Modal */
.modal{
    position: relative;
    width: 100%;
    height: 100%;
}
/* 블랙 화면 */
.modal_bg{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.modal_box_wrap{
    width: 808px;
    height: 500px;
    color: #00102b;
    background: rgb(255, 254, 248);
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    font: 300 25px/1.5 'Roboto', 'sans-serif';
    border-radius: 10px;
    /* position: absolute; */
    position: fixed;
    float: right;
    z-index: 1;
    overflow: hidden;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal_wrap_1{
    float: left;
    display: inline;
}
.modal_wrap_2{
    margin: 50px;
    float: right;
}
.modal_wrap_2{
    display: inline;
}
.modal_wrap_2 .login_txt1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fcbb01;
}
.modal_wrap_2 .login_txt1 img{
    cursor: pointer;
}
.modal_wrap_2 .login_icon2{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    cursor: pointer;
}
.modal_wrap_2 .login_form fieldset{
    border: none;
    width: 300px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px auto;
}
.modal_wrap_2 .login_form fieldset input{
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 0px 3px rgba(0,0,0,.2);
    padding: 0 10px;
    color: #333;
}
.modal_wrap_2 .login_form input::placeholder{
    color: #fcbb01;
}
.modal_wrap_2 .login_form input:focus{
    outline: 0;
    color: #333;
}
.modal_wrap_2 .login_txt2{
    font-size: 13px;
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal_wrap_2 .login_txt2 p{
    display: inline;
    cursor: pointer;
}

.modal_wrap_2 .login_txt2 p:nth-of-type(2){
    margin-top: 10px;
}
.modal_wrap_2 button{
    width: 300px;
    height: 40px;
    font-weight: 600;
    border: 0;
    background: #fcbb01;
    border-radius: 50px;
    cursor: pointer;
}



/* section_1 */
.section_wrap{
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    padding-top:100px;
}

.section_1{
    width:100%;
    /* min-width:1300px; */
    max-width: 1300px;
    margin: 0 auto;
}


.title{
    height: 150px;
    display: flex;
    align-items: center;
    font: 700 60px/1 'Cormorant Garamond', serif;
}
.title p{
    width: 410px;
    font: 300 15px/1.5 'KoPubWorldDotum';
    margin-left: 50px;
}
/* slide */
.slide_box_2{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /* text-align: center; */
    /* height: 600px; */
}
.slide_box_2 .slide_2{
    width:100%;
}
.slide_box_2 .slide_img{
    position: relative;
}
.slide_box_2 .slide_img img{
    width:100%;
}
/* arrow */
.slide_box_2 .prev{
    width:50px;
    height:50px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    transform:rotate(-45deg) translateY(-50%);
    position:absolute;
    top:50%;
    left:50px;
    cursor:pointer;
}
.slide_box_2 .next{
    width:50px;
    height:50px;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    transform:rotate(45deg) translateY(-50%);
    position: absolute;
    right:50px;
    top:50%;
    cursor:pointer;
}
/* dots */
.slick-dots{
    display: flex;
    position: absolute;
    bottom:5%;
    left: 50%;
    transform:translateX(-50%);
}
.custom-slide-dots li{
    font-size: 0;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    border: none;
    margin-right: 5px;
    transition: all 0.5s;
    opacity: 0.5;
}
.custom-slide-dots li:nth-of-type(4){
    margin-right: 0;
}
.custom-slide-dots li button{
    display:none;
}

.custom-slide-dots li.slick-active{
    width:60px;
    opacity: 1;
}

/* list_wrap */
.circle_wrap_bg{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* circle_wrap */
.circle_wrap{
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.circle_wrap .circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle_wrap .circle_inner {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: rgb(255, 255, 255,.2);
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position:relative;
}
.circle_wrap .circle.on .circle_inner::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 2px solid #fff;
}
.circle div:nth-of-type(2){
    font: 300 13px/1.5 'KoPubWorldDotum';
    padding-top: 10px;
}

/* item_wrap */
.item_wrap{
    position: relative;
}
.item_ul_wrap{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: center;
    
}
/* on - addClass */
.item_div_wrap{
    display: none;
}
.item_div_wrap:nth-of-type(1).on,
.item_div_wrap:nth-of-type(2).on,
.item_div_wrap:nth-of-type(3).on,
.item_div_wrap:nth-of-type(4).on{
    display: flex;
    flex-wrap: wrap;
}
/* item_list */
.item_list{
    width: 425px;
    height: 300px;
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.item_list .item_img{
    margin-bottom: 15px;
    overflow: hidden;
}
.item_title{
    display: flex;
    justify-content: space-between;
    font: 500 20px/1 'Cormorant Garamond', serif;
}
.item_title p:nth-of-type(2){
    font: 300 14px/1.5 'KoPubWorldDotum';
    text-align: right;
}

/* footer */
.footer{
    width: 100%;
    background: #fff;
    color: #00102b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 150px;
}
.footer .footer_list h5{
    font: 700 18px/1.5 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer .footer_list{
    width: 225px;
    margin-right: 25px;
}
.footer .footer_list:nth-of-type(4){
    margin: 0;
}
.footer .footer_list ul{
    color: #777;
    font: 500 13px/1.4 'KoPubWorldDotum';
}
/* select box */
.footer .select_box{
    display:flex;
    flex-direction: column;
}
.footer .select_box .type1{
    border: none;
    border-bottom: 1px solid #00102b;
}
.footer .select_box .type2{
    width:200px;
    height:30px;
    position: relative;
    margin-top: 7px;
}
.footer .select_box .type2 select{
    position:absolute;
    border: none;
    border-bottom: 1px solid #00102b;
    left:0;
    top:0;
    display:none;
}
.footer .select_box .type2 select.on{
    display:block;
}
.footer select{
    width: 190px;
    height: 35px;
}
.footer select:focus{
    outline: 0;
    border: 1px solid #fcbb01;
}
#option-bg{
    height: 50px;
}

/* 태블릿pc */
@media screen and (max-width: 1199px){
    .title{
        font-size: 50px;
    }
    .title p{
        font-size: 13px;
    }

    /* footer */
    .footer{
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 80px;
    }
    .footer .footer_list{
        margin-right: 0;
        padding: 0 20px;
    }
    .footer .footer_list:nth-of-type(1),
    .footer .footer_list:nth-of-type(2){
        margin-bottom: 20px;
    }
    .footer .footer_list{
        margin-bottom: 20px;
    }
}
/* modal */
@media screen and (max-width: 900px){
    /* login */
     .modal_box_wrap{
        width: 400px;
        padding: 0 40px;
     }
     .modal_wrap_1{
        display: none;
     }
     .modal_wrap_2{
        float: none;
        padding: 20px;
     }
}
/* 모바일 */
@media screen and (max-width: 767px){
    /* header */
    header .gnb_wrap{
        height: 70px;
    }
    header .logo img{
        width: 150px;
    }
    header input{
        display: none;
    }
    figure{
        padding-top: 70px;
    }
    /* gnb */
    .gnb_btn{
        top: 19px;
    }
    header nav .gnb_bar{
        width: 25px; 
        padding-top: 7px;
    }
    header .gnb_menu_wrap{
        width: 100%;
        height: 400px;
        text-align: center;
    }
    .gnb_close img{
       width: 30px;
    }
    header .gnb_menu1{
        font: 700 45px/1.4 'Cormorant Garamond', serif;
    }
    .gnb_menu2{
        opacity: 0;
    }
    .title{
        font-size: 50px;
        flex-direction: column;
        text-align: center;
    }
    .title p{
        margin: 0;
    }
    /* footer */
   .footer .footer_list h5{
    font-size: 15px;
    margin: 0;
   }
   .footer .footer_list ul{
    font-size: 10px;
   }
   .footer select{
    transform: scale(0.8);
   }
}